@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-black bg-sand p-0 m-0 dark:bg-black dark:text-gray-200;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins", sans-serif;
}

.toggle-dot {
  transition: all 0.3s ease-in-out;
}

#toogle-theme:checked ~ .toggle-dot {
  transform: translateX(28px);
}

.rounded-center {
  @apply rounded-full flex justify-center items-center;
}

.circle-divider {
  @apply bg-black w-2 h-2 rounded-full dark:bg-gray-300;
}